{% extends 'users/base.html' %}
{% load static %}


{% block extend_head %}

<link rel="stylesheet" type="text/css" href="{% static 'dropzone-5.7.0/dist/basic.css' %}">  
<link rel="stylesheet" type="text/css" href="{% static 'dropzone-5.7.0/dist/dropzone.css' %}">

{% endblock %}

{% block extend_nav %} 

<ul class="sidenav">
  <li><a href="{% url 'users:account' %}">Demo User Account</a></li>
  <li><a href="{% url 'users:profile' %}">Demo Profile</a></li>
  <li><a class="active" href="{% url 'users:images' %}">Demo Add Images</a></li>
  <li><a href="{% url 'users:gallery' %}">Demo Gallery</a></li>
  <li><a href="{% url 'users:sign-out' %}">Sign out</a></li>
</ul>

{% endblock %}


{% block content %}

<h3>Django Dropzone Demo - Add Images for <b style="color:#9c07b6">{{request.user.first_name}} {{request.user.last_name}}</b></h3>


<div class="container">
  <label for="dropzone">Profile images</label>
  <form action="/dropzone-image" id="DidDropzone" class="dropzone" accept-charset="UTF-8" method="POST">
      {% csrf_token %}
      <div class="dz-message">Click Here or Drop Files Here To Upload - 500kb maximum (0.5mb)</div>

      
  </form>  
  <br>  


  <button disabled hidden id="image-btn" type="submit" >Add images</button>                        
  <form id="commentform" method="POST" action="/images">
    {% csrf_token %}

    <label for="upload_description">Upload comments</label>
    {{i_form.upload_description}}
   
   <button type="submit">Add Images</button>
 </form>

 {{i_form.errors}}
</div>

{% endblock %}

{% block extend_footer %}
  

  <script src="{% static 'dropzone-5.7.0/dist/dropzone.js' %}"></script>
  <script src="{% static 'dropzone.js' %}"></script>

{% endblock %}